
  
*{
margin:0px ;
font-family: "Fira Sans", serif;
font-style: normal;

}
/* shear style */

.btn-hover:hover {
    background-color: rgb(85, 137, 145);
    font-size: 16px;
  }


/* nav Style */
.nav-head{
    display: flex;
    justify-content: space-between;
   margin: 10px 200px 24px 60px;
   font-size: 24px;
   width: bold;

}
.nav-btn{
    padding: 15px 30px ;
    color:#006A50 ;
    border: 1px solid #006A50 ;
    border-radius: 5px;
    margin-top: 10px;
    
}
/* nav Banner Section Style */
.banner-section {
    display: flex;
    justify-content: space-between;
    background-color:#C6E4D6;
border-radius: 24px;
margin: 10px 160px 80px 160px;
margin-top: 10px;
width: 1280px;
height: 560px;
padding:80px 100px ;


}
.banner-text{
    text-align: left;
    margin-left: 60px;
    margin-top: 117px;
    margin-bottom: 117px;
    margin-right:64px ;

}
.sub-header{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
   margin:117px 64px 16px 40px;
   font-size: 24px;
   width: medium;



}
#banner-ing{
    width: 474px;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    position:740px 80px;
    
}
.banner-pr-1{
    width:622px;
    font-size: 56px;
    font-weight:bold;
    margin:16px 64px 24px 40px;
    
}
.btn{
    background-color: #006A50;
    color:#FFFFFF ;
    border-radius: 10px;
    width: 270px;
    height: 56px;
    margin: 16px 64px 117px 40px;
      
}
/* main-style */

/* Pillars of "Bangladesh 2.0 style */
.pillars{
    width: 1280px;
    height: 224px;
    padding: 0px 160px 0px 0px;
    position:160px 0px ;
  
}
.pillars-heading{
    width:1280px;
    height: 48px;
    font-size: 40px;
    font-weight:bold;
    padding:80px 160px 32px 160px;
}
  .pillars-content{
    display:flex;
    justify-content:space-evenly;
    margin:32px 160px 80px 160px;
    width:1280px;
    height:244px;
    gap:24px;
    position:0px 80px;
 
    
 
  }
  .content{
   padding: 24px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   border-radius:16px;
   width:302px;
   display: 24px;
   background-color: #f1f1f379;
   
   }
   .pillars-subheading{
    font-size: 20px;
    width: bold;
    margin-top: 24px;
   }
   .pillars-para{
    margin-top: 15px;
    font-size: 16px;
   }
   /* The Vision of Future Style */

   .vf-heading-1 {
    font-size: 40px;
    width:bold;
    color:#0E0E0E;
    margin-left: 160px;
    
}
.vf-subheading{
    font-size:16px;
    padding: 24px 160px 32px 160px;
    margin-bottom: -15px;
}
/* The Vision of Future  content Style  */

.future-content{
    display: flex;
    justify-content:space-evenly;
    width: 1280px;
    height: 325px;
    padding: 32px 160px 32px 160px;
}
.vf-content{
    width: 410px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    gap: 32px 24px 32px 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.color-1{background-color: rgba(198, 228, 214, 1);
}
    .color-2{background-color: rgba(247, 235, 207, 1);}
        .vf-img{
            width: 64px;
            height: 64px;
            padding: 32px 315px 24px 32px;
        }
        .vf-heading{
            font-size: 20px;
            width: bold;
            padding: 2px 32px 12px 32px;
            margin-left: 10px;
            margin-bottom: 2px;
        }
        .vf-para{
            font-size: 16px;
                padding: 12px 32px 24px;}
            .vf-btn {
                width: 122px;
                height: 41px;
                margin-left: 32px;
                border-radius: 8px  ;
                background-color: rgba(84, 144, 245, 1);
                border: none; }
                .btn-color{
                    background-color: rgba(9, 161, 92, 1);
                }
                .btn-color-2{
                    background-color: rgba(255, 194, 57, 1);
                }
                #btn-problem{
                    margin-top: 20px;
                }