
  
*{
margin:0 auto ;
font-family: "Fira Sans", serif;
font-style: normal;}

/* shear style */

.btn-hover:hover {
    background-color: rgb(85, 137, 145);
    font-size: 16px;
  
  }
  .shear-heading{
    font-size: 40px;
    font-weight: bold;
    color:rgba(14, 14, 14, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: #0E0E0E;
    font-size: 28px;
    font-size: 700;
}
nav ul li{
    list-style: none;
}
.text-btn{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -5px;
    box-sizing: border-box;
    border: 1px solid #006A50;
    border-radius: 8px;
}
.hed-btn:hover{
    background-color: tomato;
    transition: all;
    animation-duration: 300s;
}

/* nav Banner Section Style */
.banner-section {
    display: flex;
    text-align: center;
   background-color:#C6E4D6;
  border-radius: 24px;
  margin: 0 auto;
  width: 1280px;
  height: 560px;
}
.banner-text{
    text-align: left;
    margin-left: 60px;
    margin-top: 117px;
    margin-bottom:20px;
    margin-right:64px ;

}
.sub-header{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
   font-size: 24px;
   width: medium;
margin-left: 5px;}

#banner-img{
    width: 474px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: -45px;
    
}
.banner-pr-1{
    width:622px;
    font-size: 56px;
    font-weight:bold;
    margin:16px 64px 24px 8px;
    
}
.btn{
    background-color: #006A50;
    color:#FFFFFF ;
    border-radius: 10px;
    width: 270px;
    height: 56px;
    margin: 40px 64px 117px 8px;
    border: none;
    margin-top: 2px;
    font-size: 18px;
      
}
/* main-style */
main{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
}

/* Pillars of "Bangladesh 2.0 style */
.pillars{
    max-width: 1280px;
    margin: 0 auto;}

.pillars-heading{
    width:1280px;
    height: 48px;
    font-size: 40px;
    font-weight:bold;
    margin-top: 80px;
   }

  .pillars-content{
    display:flex;
    justify-content:space-around;
    width:1280px;
    height:244px;
    gap:24px;
    position:0px 80px;
    margin-top: 32px;}

  .content{
   padding: 24px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   border-radius:16px;
   width:302px;
   display: 24px;
   background-color: #f1f1f379;}

   .pillars-subheading{
    font-size: 20px;
    width: bold;
    margin-top: 24px;}

   .pillars-para{
    margin-top: 15px;
    font-size: 16px;}

   /* The Vision of Future Style */
   .vf-heading-1 {
    font-size: 40px;
    width:bold;
    color:#0E0E0E;
    margin-top: 80px;}

.vf-subheading{
    font-size:16px;
    margin-top: 24px;
    margin-bottom: 24px;}

/* The Vision of Future  content Style  */
.The-vision-of-Future{
    margin: 0 auto;}


.future-content{
    display: flex;
    justify-content:space-evenly;
    width: 1280px;
    height: 325px;
    margin-top: 32px;
}
.vf-content{
    width: 410px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    gap: 32px 24px 32px 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.color-1{background-color: rgba(198, 228, 214, 1);}

    .color-2{background-color: rgba(247, 235, 207, 1);}
        .vf-img{
            width: 64px;
            height: 64px;
            padding: 32px 315px 24px 32px;
        }
        .vf-heading{
            font-size: 20px;
            width: bold;
            padding: 2px 32px 12px 32px;
            margin-left: 10px;
            margin-bottom: 2px;
        }
        .vf-para{
            font-size: 16px;
                padding: 12px 32px 24px;}
            .vf-btn {
                width: 122px;
                height: 41px;
                margin-left: 32px;
                border-radius: 8px  ;
                background-color: rgba(84, 144, 245, 1);
                border: none; }
                .btn-color{
                    background-color: rgba(9, 161, 92, 1);
                }
                .btn-color-2{
                    background-color: rgba(255, 194, 57, 1);
                }
                #btn-problem{
                    margin-bottom: 20px;
                }
                
                /* Dr.Muhammad Yunus style  */
        
                .sub-description{
                  margin: 0 auto;
                  margin-top: 32px;
                  background-image: url(../assets/quote-bg.png);
                  background-repeat: no-repeat;
                  background-position: 20px 10px;
                
                 }
                
                .sub-dep{
                    border-radius: 10px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border:1px solid rgba(0, 0, 0, 0.116);
                    
                }
                   
                .sub-para-p{
                    font-size: 16px;
                    color: rgba(14, 14, 14, 0.8);
                     margin-left: 24px;
                     margin-top: 38px;
                     margin-left: 24px;
                }
                .dr{
                    font-size: 20;
                    width:800px;
                    margin-left: 24px;
                    margin-top: 10px;
                    color: rgba(14, 14, 14, 0.8);

                }
                .dr-para{
                    font-size: 16px;
                    font-weight: 16px;
                margin-left: 24px;
                margin-top: 5px;
                margin-bottom: 48px;
                color: rgba(14, 14, 14, 0.6);

                }
               /* resent news style */
               .resent-news{
                margin: 0 auto;
               }
              .resent-news-heading{
                font-size: 40px;
                width: bold;
                margin: 0 auto;
                color: rgba(14, 14, 14, 1);
                margin-top: 80px;
                margin-left: 165px;
              }
              .resent-news-para{
                font-size: 16px;
                color: rgba(14, 14, 14, 0.7);
                margin-top: 24px;
                margin-left: 165px;
              }
              /* news content-2 style */
              .news{
                display: flex;
                justify-content: space-between;
                width: 1280px;
                height: 402px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding:10px ;
                border:1px solid rgba(0, 0, 0, 0.116);
                margin:0 auto;
              border-radius: 24px;
              background-color: rgba(255, 255, 255, 1);
              margin-top: 32px;
                
              }
              .news-img{
                width: 408px;
                height:306px;
                margin: 48px 32px 48px 48px; 

              }
              .satelite-img{
                border-radius:24px;
              }
            .news-heading{
                margin: 56px 48px 12px 32px;
                font-size: 32px;
                width: bold;
                color: rgba(14, 14, 14, 0.8);

            }
        .al-jazeera{
            width: 134px;
            height: 40px;
            margin: 12px 610px 12px 32px;
        }
        .news-sub-para{
            margin: 5px 60px 12px 32px;
            width: 744px;
            height: 24px;
            font-size: 16px ;
            color: rgba(14, 14, 14, 0.7);   }
            .news-para{
                justify-content: space-evenly;
                margin-top: 12px;
                margin-left: 32px;
                margin-bottom: 12px;
                font-size:16px;
                color: rgba(14, 14, 14, 0.7);
            }
            .Read-More{
                background-color: rgba(0, 106, 80, 1);
                border-radius: 8px;
                width: 139px;
                height: 48px;
                padding: 13px 26px;
                margin: 32px 605px 56px 32px;
                color: rgba(255, 255, 255, 1);
                border: none;
                 
            }
            .news-img-2{  width: 408px;
                height:306px;
                margin: 48px 48px 48px 20px;

            }
            /* Donate section style */
            .donate{
            text-align: center;
                margin: 0 auto;
               width: 1280px;
               }
           .donate-heading{
            margin-top: 80px;
            margin-bottom: 24px;
            font-size: 40px;
            width: bold;

           }
           .donate-subtitle{
            font-size: 16px;
            color: rgba(14, 14, 14, 0.7);
           }
        .donate-2{
            width: 1071px;
            margin-top: 32px;
            display: flex;
            gap: 24px;
            color: rgba(255, 255, 255, 1);}
    .amount {
        border-radius: 16px;
        width: 240px;
        height:128px;
        border: none;
    }
    #hover-color{
        background-color: rgba(198, 228, 214, 1);
       
    }
    #hover-color:hover{
        background-color: rgb(108, 216, 57);
    }
        
    .amount:hover{
        background-color: #a2e284;
        font-size: 47px;
        
    }
       .ab{
        margin-top: 32px;
        display: flex;
        text-align: center;
        width: 1032px;
        height: 64px;
        background-color:rgba(255, 255, 255, 1);
        border: none;
        box-sizing: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
       }
       .done-btn {
        display: flex;
        text-align: center;
        background-color: rgba(0, 106, 80, 1);
        color: rgba(255, 255, 255, 1);
        border-radius: 8px;
        font-size: 18px;
        margin-top: 32px;
        width:151px;
        height: 56px;
        border: none;
       }
       .last-20hours{
       background-color:rgba(198, 228, 214, 1);
        width: 1280px;
        height: 395px;
        border-radius: 24px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 80px;
        margin-bottom: 80px;

       }
       .sub-div{
        display: flex;
        justify-content: center;
        text-align: center;
       }
       .last-heading{
        text-align: center;
       padding-top: 80px;
       width: 622px;
        height: 48px;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 16px;
       
       }
       .last-para{
        font-size: 16px;
        width: 622px;
        height: 48px;
    text-align: center;
        display: flex;
        color: rgba(14, 14, 14, 0.7);
       }
       
.last-btn{
    display: flex;
    text-align: center;
    width:750px;
    height:56px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    box-shadow: 0px 4px 4pxrgba(0, 0, 0, 0.25);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.last-para-2{
    display:flex ;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    color: rgba(14, 14, 14, 0.3);
   
}
.Subscribe{
        display: flex;
        text-align: center;
        
       }
       .input{border: none;
padding: 30px;
padding-left: 50px;
padding-right:220px ;
border-radius: 20px 0px 0px 20px;
width: 600px;
height: 12px;
font-size: 18px;}

       .Subscribe{
        margin-top: 20px;
        text-align: center;
      
       }
     .last-paragrap{
        display: flex;
        text-align: center;
        margin-top: 30px;
     }
     .submit{
    width: 150px;
    height: 72px;
        padding: 20px 30px;
        border: none;
        border-radius: 0px 20px 20px 0px;
        background-color: #006A50;
        color: white;
        font-size: 18px;
       margin-left: -5px;
        
     }
     .submit:hover{
        background-color: #d82020;
        font-size: 20px;
     }
     .done-btn:hover{
        background-color: #ffffff;
        color: #0E0E0E;
        font-size: 22px;
     }
     .last-paragrap p {
        color: rgba(14, 14, 14, 0.7);
     }
     .lest-section {
        width: 1600px;
        height: 226px;
        background-color: rgb(255, 255, 255);
        box-sizing: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 80px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.048);
        border: 1px solid rgba(0, 0, 0, 0.041);
     }
     .png {margin-left: 739px;
      padding-top: 32px;
       
    
     }
     .last-heading-2{
      padding-top: 50px;
        text-align: center;
        font-size: 32px;
        width: bold;
     }
     hr{
        width: 1122px;
        color: rgba(14, 14, 14, 0.1);
        margin-top: 32px;
     }